.list-style{
    width: 97%;
    margin: 3px 10px 3px 10px;
    border:1px solid white;
    padding:10px;
    color:white;
    background-color: rgb(164, 86, 236);
    border-radius: 5px;

}

.outerblock{
    width: 50%;
    margin: 3px auto 3px auto;
    background-color: #DDDDDD;
    padding-bottom: 10px;
    border:1px solid white;
  height: 400px;
  overflow-y: scroll;
    overflow-x: hidden;
  border: 1px solid #DDDDDD;
  border-radius: 4px 0 4px 0;
   
}

.outerblock::-webkit-scrollbar {
    width: 1px;               /* width of the entire scrollbar */
  }
  
  .outerblock::-webkit-scrollbar-track {
    background: orange;
    border-radius: 2px;        /* color of the tracking area */
  }

#inputtext{
    width: 30% !important;
    height: 40px;
    padding: 5px;
    text-align: center; 
    border-radius: 4px;
}
#inputtext::placeholder{
    text-align: center;
    font-size: 15px;
}

#inputtext:focus{
    outline: none;
}

.Add-button{
    color:white;
    border: none;
    background-color: rgb(22, 92, 22);
    height: 36px;
    margin: 2px 0px 2px 0px;
    border-radius: 4px;
}



@media only screen and (max-width: 600px) {
    .outerblock {
      width: 80%;
    }

    #inputtext {
        width: 58% !important;
      
    }


  }